coverage/
dist/
node_modules/
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

log.db
log.db-lock

.env
.env.prod
.env.test
*.txt

.pnpm-store
database-debug*.*log
firestore-debug*.*log
firebase-debug*.*log
pubsub-debug*.*log
ui-debug*.*log
project-metadata.dev.json
.vscode/launch.json
